@font-face {
    font-family: 'Mac';
    src: url('../src/fonts/MacType.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#caja-home{
    width: 100%;
    /*height: 78%;*/
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

#caja-center {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caja-imagen-cuerpo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}
#caja-imagen-cuerpo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#caja-text-legaldocs {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#caja-text-legaldocs h1 {
    font-family: 'Mac';
    color: #31572C;
    margin-top: 1rem;
    margin-bottom: 0;
}
#caja-text-legaldocs p {
    /*padding: 2.2rem;*/
    padding-bottom: 2.2rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    color: #31572C;
    font-size: 1rem;
}
#caja-clientes {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#caja-center-clientes {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #31572C;
}
.contenido-card{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(49, 87, 44, 0.1);
    border-radius: 15px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.img-card{
    width: 15rem;
    border-radius: 15px; /* Ajusta este valor para más o menos redondez */
    border: 2px solid #31572C; /* Cambia el color y el grosor del borde */
    
}
#caja-center-clientes h2{
    font-family: 'Mac';
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
#caja-center-clientes ul{
    margin-top: 0;
    margin-bottom: 1.8rem;
}
#text-empr{
    width: 100%;
    margin-top: 0;
}