/*
#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
/* COLORES PALETA  
#132A13
#31572C
#4F772D
#90A955
#ECF39E

*/
#root {	
  /*display: flex;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ECF39E;
}
